h1 {
    text-align: center;
}

a:link {text-decoration: none;}
a {position: absolute;top:25px;left:25px; color:white; }
a:hover { scale: 110%;}


body {    
    font-family: sans-serif;
    background: #fff;
  }
  
header {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 16px;
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 2px solid #fdb347;
  }

  .aboutText {
    margin-left: 15%;
    margin-right: 15%;
  }

  img { 
    max-width: 550px ;
    max-height: 550px;
  }

.Image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


p {
    font-size: 18px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    gap: 16px;      
}

  .caption {
    text-align: center;
    font-size: 14px;
}

